
#!/usr/bin/env bash

export DATABRICKS_SERVER_HOSTNAME=your-host-name
export DATABRICKS_HTTP_PATH=your-path
export DATABRICKS_TOKEN=your-token
export DATABRICKS_SCHEMA=default-or-something-else

# hackey dynamic breakpoint; delete the following and/or unset the var if you do *not* want the breakpoint
export DATABRICKS_DIALECT_DEBUG=True
#unset DATABRICKS_DIALECT_DEBUG