[tool.poetry]
name = "databricks-sql-connector"
version = "2.2.1"
description = "Databricks SQL Connector for Python"
authors = ["Databricks <databricks-sql-connector-maintainers@databricks.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "databricks", from = "src"}]
include = ["CHANGELOG.md"]

[tool.poetry.dependencies]
python = "^3.7.1"
thrift = "^0.16.0"
pandas = "^1.3.0"
pyarrow = [
    {version = ">=9.0.0", python = ">=3.7,<3.11"},
    {version = ">=10.0.1", python = ">=3.11"}
]
lz4 = "^4.0.2"
requests="^2.18.1"
oauthlib="^3.1.0"
numpy = [
    {version = "1.21.1", python = ">=3.7,<3.8"},
    {version = "1.23.4", python = ">=3.8"}
]

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
mypy = "^0.950"
pylint = ">=2.12.0"
black = "^22.3.0"

[tool.poetry.urls]
"Homepage" = "https://github.com/databricks/databricks-sql-python"
"Bug Tracker" = "https://github.com/databricks/databricks-sql-python/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = "true"
exclude = ['ttypes\.py$', 'TCLIService\.py$']

[tool.black]
exclude = '/(\.eggs|\.git|\.hg|\.mypy_cache|\.nox|\.tox|\.venv|\.svn|_build|buck-out|build|dist|thrift_api)/'
