# Authentication details for running e2e tests 
host=""
http_path=""
access_token=""

# Only required to run the PySQLStagingIngestionTestSuite
staging_ingestion_user=""

# Only required to run SQLAlchemy tests
catalog=""
schema=""