# Authentication details for running e2e tests 
DATABRICKS_SERVER_HOSTNAME=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=

# Only required to run the PySQLStagingIngestionTestSuite
DATABRICKS_USER=

# Only required to run SQLAlchemy tests
DATABRICKS_CATALOG=
DATABRICKS_SCHEMA=